h1{
color: teal;
}

body{
background: beige;
}

#contain{
margin-bottom: 10px;
margin-left: 10px;
}

/*From D3.Js Examples*/
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect{
   fill: steelblue;
   border: 1px;
   border-color: black;
}

.chart text{
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

/*Basic Axis text editing taken from a tutorial (multiple tutorials had this) */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: black;
}